header{
    width: 100%;
    padding: 0 5vw;
    /* box-shadow: 0px 0px 7px var(--mid-gray); */
    background-color: var(--purple);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    position: fixed;
    z-index: 5;
}
#headerLogo{
    height: 25px;
}
header .nav{
    list-style: none;
    display: flex;
    align-items: center;
}.nav a {
    text-decoration: none;
    color: var(--white);
    font-size: 0.8rem;
    font-size: max(0.8rem, 0.8vw);
    padding: 10px;
   
    position: relative;
    transition: color 0.3s ease-in-out
}#heroLink{
    padding: 0;
    margin-right: 20px;
}
#heroLink::before{
    background-color: transparent;
}
.nav a::before{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background-color: var(--turquoise);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}.nav a:hover::before , .nav a:focus::before, .nav .focus::before{
    transform: scaleX(1);
}.nav a:hover, .nav a:focus, .nav .focus{
    color: var(--turquoise)
}
header .themeButton{
    width: max(25px, 1.5vw);
    aspect-ratio: 1;
    border: none;
    border-radius: 100%;
    background-size: cover;
    background-color: #00000000;
    transition: transform 0.3s ease-in-out
}.themeButton.hover{
    transform: rotate(-30deg);
    opacity: 0.7;
}
.darkTheme .themeButton{
    background-image: url(./../assets/sunIcon.png);
}.lightTheme .themeButton{
    background-image: url(./../assets/moonIcon.png);
}

.lightTheme .burgerMenu{
    filter: invert(100%);
}
.burgerMenu{
    width: 50px;
    padding: 14px 10px;
    position: fixed;
    top: 1px;
    left: 0px;
    display: none;
    transition: opacity 0.3s ease-in-out;
}.burgerMenu.hover{
    opacity: 0.7;
}

#header>.hideNav{
    display: none;
}#header>.showNav{
    display: flex;
} 

@media (max-width: 576px) {
    header{
        width: unset;
        padding: 0;
        padding-top: 50px ;
    }
    header .nav{
        flex-direction: column;
        align-items: start;
    }
    .nav a{
        padding: 10px ;
        width: 100%;
    }
    #heroLink{
        padding-left: 10px;
    }#heroLink::before{
        background-color: var(--turquoise);
    }
    .nav a::before{
        left: unset;
        height: unset;
        top: 0;
        width: 3px;
        transform: scaleY(0) ;
    }.nav a:hover::before , .nav a:focus::before, .nav .focus::before{
        transform: scaleY(1);
    }
    header .themeButton{
        position: fixed;
        top: 15px;
        right: 10px;
    }
    .burgerMenu{
        display: unset;
    }
}
