.portfolio{
    background-color: var(--theme-color);
    color: var(--font-color);
    padding: 35px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}.portfolio>h1{
    color: var(--purple);
    margin: 20px 0 0 0;
}
.portWebs, .portLogos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}.portWebs>h1, .portLogos>h1{
    color: var(--turquoise);
    font-size: 2rem;
    margin-bottom: 5px ;
    margin-top: 10px;
}
.marquee{
    width: 100%;
    overflow: hidden;
    position: relative;
}.marquee::before{
    content: "";
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 0;
    width: 20px;
    filter: blur(10px);
    background-color: var(--shadow-color);
    opacity: 0.5;
    z-index: 2;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
}.marquee::after{
    content: "";
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 0;
    width: 20px;
    filter: blur(10px);
    background-color: var(--shadow-color);
    opacity: 0.5;
    z-index: 2;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}
.portWebsContainer , .portLogosContainer{
    animation: scrolling 4s linear infinite;
    width: 80vw;
    display: flex;
    align-items: center;
}.portWebsContainer.stopScroll,.portWebsContainer:hover, .portLogosContainer:hover{
    animation-play-state: paused;
}
.portWebsCard ,.portLogosCard{
    width: 280px;
    height: 360px;
    margin: 15px 25px;
    flex-shrink: 0;
    position: relative;
    background-color: var(--bg-color);
    box-shadow: 0px 0px 20px var(--bg-color);
    font-size: 35px;
    font-weight: bold;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}.portLogosCard{
    height: 280px;
}
.portWebsCard>img, .portLogosCard>img{
    width: 100%;
}
.portWebsCard::before ,.portLogosCard::before{
    content: "";
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    color: white;
    padding: 10px;
    z-index: 1;
}.portfolio .pwc3::before{
    padding: 0;
}
.portWebsCard .after ,.portLogosCard .after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--theme-color);
    opacity: 0;
    z-index: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
    /* font-size: 20px; */
    font-weight: bold;
}
.portWebsCard.cardHover .after,.portWebsCard:hover .after,.portLogosCard.cardHover .after{
    opacity: 0.7;
}
.pwc1::before{
    content: 'Restaurant Menu Template';
}.pwc2::before{
    content: 'Clothing Shop Template';
}
.portfolio button{
    margin-top: 10px;
    padding: 7px 20px;
    border-radius: 5px;
    font-size: 26px;
    font-weight: bold;

    background-color: rgba(0, 0, 0, 0);
    transition: all 0.2s ease-in-out;
}
.portfolio button.purple{
    color: var(--purple);
    border: 1px solid var(--purple);
    box-shadow: 0px 0px 5px var(--purple);
}
.portfolio button.turquoise{
    color: var(--turquoise);
    border: 1px solid var(--turquoise);
    box-shadow: 0px 0px 5px var(--turquoise);
}
@media (hover : hover) {
    .portfolio button.purple:hover{
        color: var(--turquoise);
        border: 1px solid var(--turquoise);
        box-shadow: 0px 0px 5px var(--turquoise);
    }.portfolio button.turquoise:hover{
        color: var(--purple);
        border: 1px solid var(--purple);
        box-shadow: 0px 0px 5px var(--purple);
    }
}
@keyframes scrolling {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-990px);
    }
}
@media (max-width: 990px) {
    .portWebsCard , .portLogosCard{
        width: 210px;
        height: 270px;
        margin: 15px 18px;
        font-size: 26px;
    }.portLogosCard{
        height: 210px;
    }.portWebsContainer , .portLogosContainer{
        animation: scrolling 4470ms linear infinite;
    }.portWebsCard::before ,.portLogosCard::before{
        padding: 5px;
        font-size: 15px;
    }
    @keyframes scrolling {
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(-738px);
        }
    }
}
@media (max-width: 660px) {
    .portWebsCard , .portLogosCard{
        width: 140px;
        height: 180px;
        margin: 15px 15px;
        font-size: 17.5px;
    }.portLogosCard{
        height: 140px;
    }.portWebsContainer , .portLogosContainer{
        animation: scrolling 3.3s linear infinite;
    }.portWebsCard::before ,.portLogosCard::before{
        padding: 5px;
        font-size: 10px;
    }
    @keyframes scrolling {
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(-510px);
        }
    }
    .portfolio button{
        font-size: 1rem;
    }
}
