.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    background-image: url(./../assets/Wlogo.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
.services h1{
    color: var(--purple);
    margin: 30px 0 0 0;
}
.services .container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}
.services .container .card{
    position: relative;
    width: 18.75rem;
    height: 28.125rem;
    margin: 50px;
    transform-style: preserve-3d;
    color: (--font-color);
    text-align: center;
    color: var(--font-color);
}
.services .container .card .frontCard{
    background-color: var(--prime);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.4s ease-in-out;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px var(--turquoise);
}
.services .container .card .backCard{
    background-color: var(--prime);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: transform 0.4s ease-in-out;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 20px 20px 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 2px var(--purple);
}.pContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 45px;
    bottom: 50px;
    left: 20px;
    right: 20px;
}.pContainer p{
    font-size: 1.2rem;
    font-weight: 100;
}
.services .container .flipped .frontCard{
    transform: rotateY(180deg);
}.services .container .flipped .backCard{
    transform: rotateY(0deg);
}
/*  */
.darkTheme .flipIcon{
    filter: invert(100%);
}
.flipIcon{
    position: absolute;
    width: 45px;
    height: 45px;
    top: 0;
    right: 0;
    padding: 5px;
    border-top-right-radius: 15px;
    background-size: cover;
}.flipIcon:hover{
    background-color: rgba(0, 0, 0, 0.247);
}.frontCard .flipIcon{
    background-image: url(./../assets/flipIcon.png);
}.backCard .flipIcon{
    background-image: url(./../assets/lockIcon.png);
}.backCard .unlocked{
    background-image: url(./../assets/openLockIcon.png);
}
.services .container .card .frontCard img{
    max-width: 100px;
}
.services .container .card h3{
    position: relative;
    color: var(--purple);
    margin: 10px 0 20px 0;
}
.services .container .card .frontCard>.list{ 
    opacity: 0.7;
    font-weight: 300;
    line-height: 1.4;
    position: absolute;
    top: 190px;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;

    width: calc(100% - 40px);
}
.services .container .card .frontCard>.list img{
    width: 18px;
    margin: 0px 10px 0 5px;
}
.services .container .card .frontCard>.list p{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}
.services .container .card .frontCard h4{
    position: absolute;
    bottom: 50px;
}
.services .container .card a{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: bold;
    color: var(--white);
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}.services .container .card .frontCard a{
    background-color: var(--purple);
}.services .container .card .backCard a{
    background-color: var(--turquoise);
}.services .container .card .frontCard a:hover{
    background-color: var(--turquoise);
    box-shadow: inset 0px 0px 5px var(--mid-gray);
}.services .container .card .backCard a:hover{
    background-color: var(--purple);
    box-shadow: inset 0px 0px 5px var(--mid-gray);
}.lightTheme .services .container .card a:hover{
    box-shadow: inset 0px 0px 5px rgb(100, 100, 100);
}
.services label{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.services .container .goldCard .frontCard{
    box-shadow: 0 0 10px 2px #daa520;
}
.services .container .goldCard .frontCard h3{
    font-size: 1.5rem;
    color: #daa520;
}.services .container .goldCard .frontCard .list{
    top: 125px;
    bottom: 125px;
}
.services .container .goldCard .frontCard a{
    background-color: #daa520;
    box-shadow: none;
}.services .container .goldCard .frontCard a:hover{
    box-shadow: inset 0px 0px 5px #daa520;
    background-color: white;
    color: #daa520;
}

.services .hidden:nth-child(1){
    transition: opacity 1s, filter 1s, transform 1s 0.4s;
}
.services .hidden:nth-child(2){
    transition: opacity 1s, filter 1s, transform 1s 0.2s;
}
.services .hidden:nth-child(3){
    transition: opacity 1s, filter 1s, transform 1s;
}


@media (max-width: 400px) {
    .services .container .card{
        width: 17.1875rem;
        height: 25.78125rem;
        margin: 50px 0;
    }.services .container .card h3{
        font-size: 1.09rem ;
    }.services .container .card .frontCard>.list{
        width: calc(100% - 30px);
    }.services .container .card .frontCard>.list img{
        width: 15px;
    }.services .container .card .frontCard>.list p{
        font-size: 1.1rem;
    }
    
    .pContainer p{
        font-size: 1.08rem;
    }
}

.bigHover{
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    bottom: 40px;
    z-index: 1;
}.smallHover{
    position: absolute;
    top: 0px;
    right: 50px;
    left: 0;
    height: 50px;
    z-index: 1;
}
