@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* scroll-behavior: ; */
    font-family: 'poppins' , sans-serif;
    color: white;
    user-select: none;
}
:root{
    --dark-red:#a2261c; 
    --red:#EA3122;
    --orange:#FF7B1B;
    --yellow:#FFCC00;
    --green:#1AB335;
    --grey:#625E55;
    --blue:#2AC0A9;
}
.navContainer{
    height: 100vh;
    width: 100%;
    position: relative;
    transition: transform 500ms ease;
}
.navItem{
    width: 100%;
    height: calc(100vh / 6);
    position: relative;
    overflow: hidden;
}
.pizza , .pizzaMenu ,.pizzaMenu .card{
    background-color: var(--dark-red);
}.pasta , .pastaMenu ,.pastaMenu .card{
    background-color: var(--red);
}.side,  .sideMenu ,.sideMenu .card{
    background-color: var(--orange);
}.salad, .saladMenu ,.saladMenu .card{
    background-color: var(--green);
}.drink , .drinkMenu ,.drinkMenu .card{
    background-color: var(--yellow);
}.dessert , .dessertMenu ,.dessertMenu .card{
    background-color: var(--grey);
}
.navItem h1{
    font-size: min(17vw,150px);
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    left: 5vw;
    font-weight: 700 ;
}.pizza h1{
    letter-spacing: 8vw;
}.pasta h1{
    letter-spacing: 6.1vw;
}.side h1{
    letter-spacing: 8.4vw;
}.salad h1{
    letter-spacing: 6.2vw;
}.drink h1{
    letter-spacing: 3.5vw;
}.dessert h1{
    letter-spacing: 1.3vw;
}.stroke{
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 2px white;
}
.navItem img{
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    width: min(70vw,500px);
    left: max(-30vw, -240px);
}
.pasta img{
    width: min(60vw,428px);
    left: max(-20vw, -160px);
}
.side img{
    transform: translateY(50%) rotate(270deg);
    left: max(-25vw, -200px);
}
.drink img{
    width: min(50vw, 350px);
    left: max(-10vw , -70px);
}
.dessert img{
    width: min(50vw, 350px);
    left: max(-1vw , -7px);
}
.arrow{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 10vw;
    display: flex;
    align-items: center;
    font-size: 10vw;
    transition: all 200ms ease-in-out;
}
.navItem:hover .arrow{
    transform: translateX(50%);
}
.menusContainer{
    width: 100%;
    position: absolute;
    top: 0;
    transform: translateX(100%);
    height: 0;
    overflow: hidden;

    transition: transform 500ms ease;
}
/*  */
.cardGrid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 500px);
    justify-content: center;
    justify-items: center;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    min-height: 100vh;
    position: relative;
    width: 100%;
    transform-origin: 100%;
    display: none;
    padding-top: min(35vw,275px);
}.menu::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.2);
}.drinkMenu::before{
    background-color: rgba(255, 255, 255, 0.5);
}
.menu .button{
    font-size: min(10vw,75px);
    width: min(10vw,75px);
    height: min(10vw,75px);
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: start;
    position: fixed;
    z-index: 5;
    top: 0px;
    text-decoration: none;
}.menu .button:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.menu h1{
    font-size: min(17vw,150px);
    font-weight: 700;
    top: min(5vw , 25px);
    position: absolute;
}.pizzaMenu h1{
    letter-spacing: 8vw;
    padding-left: 8vw;
}.pastaMenu h1{
    letter-spacing: 6.1vw;
    padding-left: 6.1vw;
}.sideMenu h1{
    letter-spacing: 8.4vw;
    padding-left: 8.4vw;
}.saladMenu h1{
    letter-spacing: 6.2vw;
    padding-left: 6.2vw;
}.drinkMenu h1{
    letter-spacing: 3.5vw;
    padding-left: 3.5vw;
}.dessertMenu h1{
    letter-spacing: 1.3vw;
    padding-left: 1.3vw;
}

.card{
    background-color: var(--dark-red);
    width: min(90vw , 450px);
    aspect-ratio: 9/3.5;
    border-radius: 20px;
    margin: min(5vw,25px) 0;
    z-index: 1;

    padding: min(5vw,25px) min(2.5vw,12.5px);
    display: flex;
    align-items: center;
}

.cardImg{
    /* background-color: black; */
    border-radius: 10px;
    width: min(25vw,125px);
    height: min(25vw,125px);
    margin-right: min(2.5vw,12.5px);
}.cardImg img{
    width: 100%;
    height: 100%;
}
.cardText{
    /* background-color: rgba(0, 128, 0, 0.514); */
    width: min(57.5vw,287.5px);
    height: min(30vw,150px);
    display: flex;
    flex-direction: column;
}
.namePrice{
    /* background-color: rgba(0, 0, 255, 0.527); */
    width: 100%;
    height: min(15vw,75px);
    display: flex;
    justify-content: space-between;
}
.name{
    /* background-color: gray; */
    width: 70%;
    height: min(15vw,75px);

    font-size: min(5.7vw,28.5px);
    line-height: 1.2;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: min(0.3vw,1.5px); 
    display: flex;
    align-items: center;
}.price{
    /* background-color: yellow; */
    width: 30%;
    height: min(15vw,75px);

    font-weight: 600;
    font-size: min(5vw,25px);
    text-align: end;
    display: flex;
    align-items: center;
}.ingredients{
    width: 100%;
    height: min(15vw,75px);

    line-height: 1.1;
    font-size: min(3.5vw,17.5px);
    font-weight: 300;
    opacity: 0.7;
}.drinkMenu .ingredients, .dessertMenu .ingredients{
    font-weight: 600;
    font-size: min(5vw,25px);
    opacity: 1;
}
.drinkMenu .card , .dessertMenu .card{
    padding:min(2.5vw,12.5px);
}.drinkMenu .cardImg , .dessertMenu .cardImg{
    width: min(30vw,175px);
    height: min(30vw,175px);
}.drinkMenu .cardText , .dessertMenu .cardText{
    width: min(30vw,287.5px);
    height: min(30vw,150px);
}.drinkMenu .name , .dessertMenu .name{
    width: 100%;
}.drinkMenu .price , .dessertMenu .price{
    width: 0px;
}